body {
    font-family: 'Indie Flower', cursive;
    /* overflow-x: hidden; */
    background-color:  rgba(221, 166, 103, 0.4);
}

/* Top Bar */
.top-bar p {
    font-size: 1.2rem;
}
.top-bar p a:hover {
    text-decoration-style: double;
}
/* End Top Bar */


/* Navigation */
footer ul {
    list-style-type: none;
}
footer i:hover {
    color: #000;
}
.navbar {
    /* border-top-left-radius: 25px; */
    /* border-bottom-right-radius: 25px; */
    border-radius: 15px;
}
nav li {
    padding: 0 15px; 
    /* border-right: 1px solid black;   */
}
nav li a {
    font-size: 3vh;
    text-align: center;
    font-weight: 900;
    color: #000!important;
}
.navbar-brand {
    background: url('../img/navbar-brand-bg.png') no-repeat center center;
}
.navbar-brand > a {
    font-size: 2.5rem;
}
/* End Navigation */



@media (max-width: 575.98px) { 
/* Navigation */
nav li a {
    font-size: 1rem;
    font-weight: 400;
}
nav li {
    width: 100%;
    border-top: 1px solid black;
    border-radius: 0;
}
.navbar-brand > a {
    font-size: 1.5rem;
}
    footer ul {
        justify-content: center;
    }
    footer i {
        padding: 10px;
        font-size: 1.3rem;
        margin-top: 10px;
    }
    footer p {
        margin-top: 10px;
    }
    .div-1-custom + div {
        flex-direction: column;
    }


}

@media (min-width: 576px) { 
    nav li {
        padding: 0 15px;
        border-top: 1px solid black;
        width: 100%;  
    }
    nav li a {
        font-size: 3vh;
        text-align: center;
        font-weight: 900;
        color: #000!important;
    }

    footer i {
        padding: 10px;
        font-size: 1.6rem;
    }
    footer p {
        margin-top: 10px;
    }
}

/* @media (min-width: 768px) { 
    
} */

@media (min-width: 992px) {
    .top-bar p span:hover {
        color: #000;
        font-family: 'Courier New', Courier, monospace;
    }

    nav li {
        border: 0;
        width: unset;
    }
    a.nav-link:hover {
        color: rgba(221, 166, 103, 0.6)!important;
    }

    footer i {
        padding: 10px;
        font-size: 2rem;
    }
}


