body {
    font-family: 'Indie Flower', cursive;
    /* overflow-x: hidden; */
}

/* Top Bar */

.top-bar p {
    font-size: 1.2rem;
}

.top-bar p a:hover {
    text-decoration-style: double;
}

/* End Top Bar */

/* Navigation */

footer ul {
    list-style-type: none;
}

footer i:hover {
    color: #000;
}

.navbar {
    /* border-top-left-radius: 25px; */
    /* border-bottom-right-radius: 25px; */
    border-radius: 15px;
}

nav li {
    padding: 0 15px;
    /* border-right: 1px solid black;   */
}

nav li a {
    font-size: 3vh;
    text-align: center;
    font-weight: 900;
    color: #000!important;
}

.navbar-brand {
    background: url('../img/navbar-brand-bg.png') no-repeat center center;
}

.navbar-brand>a {
    font-size: 2.5rem;
}

/* End Navigation */


/* .jumbotron {
    background: url('https://picsum.photos/1900/300?random=1') no-repeat right center;
    color: #fff; */
.jumbotron:first-child {
    background: url('../img/eveniment3.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
}
.jumbotron:nth-child(2) {
    background: url('../img/eveniment1.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
}
.jumbotron:nth-child(3) {
    background: url('../img/eveniment2.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
}
.jumbotron:nth-child(4) {
    background: url('../img/eveniment4.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
}
.jumbotron:last-child {
    background: url('../img/eveniment1.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
}
.bg-info {
    background-color: rgba(23, 162, 184, 0.6)!important;
}



@media (max-width: 575.98px) {
    /* Navigation */
    nav li a {
        font-size: 1rem;
        font-weight: 400;
    }
    nav li {
        width: 100%;
        border-top: 1px solid black;
        border-radius: 0;
    }
    .navbar-brand>a {
        font-size: 1.5rem;
    }
    footer ul {
        justify-content: center;
    }
    footer i {
        padding: 10px;
        font-size: 1.3rem;
        margin-top: 10px;
    }
    footer p {
        margin-top: 10px;
    }
    .div-1-custom+div {
        flex-direction: column;
    }
}

@media (min-width: 576px) {
    nav li {
        padding: 0 15px;
        border-top: 1px solid black;
        width: 100%;
    }
    nav li a {
        font-size: 3vh;
        text-align: center;
        font-weight: 900;
        color: #000!important;
    }
    footer i {
        padding: 10px;
        font-size: 1.6rem;
    }
    footer p {
        margin-top: 10px;
    }
}

/* @media (min-width: 768px) { 
    
} */

@media (min-width: 992px) {
   
    a.nav-link:hover {
        color: rgba(221, 166, 103, 0.6)!important;
    }
    nav li {
        border: 0;
        width: unset;
        border-right: 1px solid black;  
    }   
    nav li:nth-child(3) {
        border: 0;
    }
    nav li:first-child {
        border-left: 1px solid black;
    }
    nav li:nth-child(4) {
        border-left: 1px solid black;
    }

    footer i {
        padding: 10px;
        font-size: 2rem;
    }
}


